@model Learning.Models.ItemModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@if (Model != null)
{
    @*using (Html.BeginForm("Update", "Item", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(x => x.id, Model.id.ToString(), new { @class = "form-control", @style = "display: none;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Name, Model.Name, new { @class = "form-control", @placeholder = "Item Name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-success" />
            </div>
        }*@

    <form id="form" action="javascript:alert();" method="post">
        <input type="text" class="form-control" id="txtItemId" name="txtItemId" value="@Model.id.ToString()" style="display: none;" />
        <div class="form-group">
            <input type="text" class="form-control" id="txtItemName" name="txtItemName" value="@Model.Name" />
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as SelectList, new { @class = "form-control", @id = "ddCountry" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update" />
        </div>
    </form>
}
else
{
    <script>
        window.location.replace("/item/index");
    </script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#form').validate({
            rules: {
                txtItemName: {
                    required: true,
                    minlength: 3
                },
                CountryId: {
                    required: true
                }
            },
            submitHandler: function () {
                var id = $('#txtItemId').val();
                var name = $('#txtItemName').val();
                var country = $('#ddCountry').val();

                $.ajax({
                    type: "POST",
                    url: "/Item/Update",
                    data: { id: id, Name: name, CountryId: country },
                    dataType: 'json',
                    success: function (data) {
                        alert(data.Data);
                        if (data.Status) {
                            window.location.replace("/Item/");
                        }
                    }
                });

                return false;
            }
        });
    });
</script>