@model Learning.Models.ItemModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@if (Model != null)
{
    @*using (Html.BeginForm("Update", "Item", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(x => x.id, Model.id.ToString(), new { @class = "form-control", @style = "display: none;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Name, Model.Name, new { @class = "form-control", @placeholder = "Item Name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-success" />
            </div>
        }*@

    <form id="form" action="/Item/Create" method="post">
        <input type="text" class="form-control" id="txtItemId" value="@Model.id.ToString()" style="display: none;"/>
        <div class="form-group">
            <input type="text" class="form-control" id="txtItemName" value="@Model.Name" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update" />
        </div>
    </form>
}
else
{
    <script>
        window.location.replace("/item/index");
    </script>
}

<script>
    $('#form').on('submit', function (e) {
        e.preventDefault();

        var id = $('#txtItemId').val();
        var name = $('#txtItemName').val();

        $.ajax({
            type: "POST",
            url: "/Item/Update",
            data: { id: id, Name: name },
            dataType: 'json',
            success: function (data) {
                alert(data.Data);
                if (data.Status) {
                    window.location.replace("/Item/");
                }
            }
        });
    });
</script>